<div class="jumbotron">
  <h1>Home</h1>
  <p>Find me in app/views/pages/home.html.erb [HEROKU]</p>
  <%if !user_signed_in? %>
  <p>
    <%=link_to "entrar", new_user_session_path, class: "btn btn_default btn-lg"%>
    <%=link_to "registrarse", new_user_registration_path, class: "btn btn_primary btn-lg"%>
  </p>
  <% end %>
  
</div>