<div class="jumbotron">
  <h1>Home</h1>
  <p>Find me in app/views/pages/home.html.erb [HEROKU]</p>
  
  <p>
    <%=link_to "entrar", "#", class: "btn btn_default btn-lg"%>
    <%=link_to "registrarse", "#", class: "btn btn_primary btn-lg"%>
  </p>
  
</div>